@model RickWeb.Models.ResistorViewModel

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <div id="calculator">
                @using (Ajax.BeginForm("Resistance", "Home", 
                    new AjaxOptions {HttpMethod = "GET", InsertionMode = InsertionMode.Replace, 
                        LoadingElementId = "ajax-loader", UpdateTargetId = "resistance"}))
                {
                    <table>
                        <thead>
                            <tr>
                                <th>Band A</th>
                                <th>Band B</th>
                                <th>Band C</th>
                                <th>Band D</th>
                                <th>Resistance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DropDownListFor(m => m.BandAColor, Model.BandAColors)</td>
                                <td>@Html.DropDownListFor(m => m.BandBColor, Model.BandBColors)</td>
                                <td>@Html.DropDownListFor(m => m.BandCColor, Model.BandCColors)</td>
                                <td>@Html.DropDownListFor(m => m.BandDColor, Model.BandDColors)</td>
                                @Html.Partial("_Resistance")
                            </tr>
                        </tbody>
                    </table>

                    <p>
                        @*I'm really, really tempted to call this button "Assimilate." :)*@
                        <input type="submit" value="Calculate" />
                    </p>
                }
            </div>
        </div>
    </section>
}
